version: "3.9"

services:
  validator-api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: secure-validator-api:local
    container_name: secure-validator-api
    ports:
      - "8080:8080"
    environment:
      APP_SECRET: "1234"
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped


