
services:
  validator-api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: my-api
    ports:
      - "8080:8080"
    user: "root"
    environment:
      - TZ=Asia/Jerusalem
      - APP_SECRET=1234
      - REQUIRED_KEY=admin
      - PYTHONUNBUFFERED=1
    volumes:
      - ./logs:/app/logs