apiVersion: apps/v1
kind: Deployment
metadata:
  name: validator-api
  namespace: devops-exam
spec:
  replicas: 2
  selector:
    matchLabels:
      app: validator-api
  template:
    metadata:
      labels:
        app: validator-api
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
        - name: api
          image: secure-validator-api:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: APP_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: APP_SECRET
            - name: LOG_PATH
              value: /app/logs/success.log
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          volumeMounts:
            - name: logs
              mountPath: /app/logs
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
      volumes:
        - name: logs
          emptyDir: {}
