apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: validator-ingress
  namespace: devops-exam
  annotations:
    kubernetes.io/ingress.class: "gce"
spec:
  ingressClassName: gce 
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: validator-service
            port:
              number: 80